<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">
<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 预留网站标题的位置 -->
    <title>管理后台</title>
    <!-- 引入bootstrap的css文件 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 引入layer.js -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>


<body class="{{ theme }}">
<!-- 引入导航栏 -->
<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <!-- 导航栏商标 -->
        <a class="navbar-brand" href="/">奇客舒</a>
        <!-- 导航入口 -->
        <div>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        tips
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <span>Ctrl + F 搜索内容</span>
                        <a href="https://github.com/Athenavi/zyBLOG/" target="_blank">Github开源地址</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>


<!-- 预留具体页面的位置 -->
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card">
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    function chooseFile() {
                        document.getElementById('file-input').click();
                    }

                    // 监听文件选择事件，并更新文件选择框的标签
                    document.getElementById('file-input').addEventListener('change', function (e) {
                        var fileLabel = document.getElementById('file-label');
                        fileLabel.textContent = e.target.value.split('\\').pop();
                    });

                    function handleDragOver(event) {
                        event.preventDefault();
                    }

                    function handleDrop(event) {
                        event.preventDefault();

                        const files = event.dataTransfer.files;
                        if (files.length > 0) {
                            const fileInput = document.getElementById('file-input');
                            fileInput.files = files;

                            const fileLabel = document.getElementById('file-label');
                            fileLabel.textContent = files[0].name;
                        }
                    }

                    // 将上述拖放功能的事件处理函数绑定到表单
                    const form = document.querySelector('form');
                    form.addEventListener('dragover', handleDragOver);
                    form.addEventListener('drop', handleDrop);
                });

            </script>
            <script>
                function confirmDelete() {
                    return confirm("确定要删除该文件吗？");
                }
            </script>
            <div>
                <span>隐藏的文章:{{ hiddenList }}</span>
                <ul>
                    {% for file in aricle_files %}
                    <li>
                        {{ aricle_files }}
                        <form action="{{ url_for('/delete_file', filename=file) }}" method="POST"
                              onsubmit="return confirmDelete();">
                            <button type="submit">删除</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>


            <form method="POST" enctype="multipart/form-data" action="/Admin_upload" style="width: 360px;">
                <div class="form-row">
                    <div class="col-auto">
                        <div class="form-group">
                            <label for="file-input" class="btn btn-primary" style="height:150px">----------------可拖动文件到这里---------------</label>
                            <input type="file" name="file" id="file-input" accept=".txt, .md , .zip"
                                   style="display: none;">
                            <span id="file-label"></span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-group">
                            <label>
                                <select name="type" class="form-control">
                                    <option value="articles">文章(.md)</option>
                                    <option value="notice">公告(.txt)</option>
                                    <option value="theme">外观包(.zip)</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <input type="submit" value="Upload" class="btn btn-primary">
                    </div>
                </div>
            </form>
            <label for="file-input" class="btn btn-primary">选择上传的文件</label>
            <hr>
            <span>主题与外观: {{ currentDisplay }}</span>
            <ul id="displayList">
                {% for display in displayList %}
                <li>
                    {{ display }}
                    <button class="btn btn-primary btn-block" onclick="showDetail('{{ display }}')">查看详情
                    </button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<!-- 弹出窗口 -->
<div id="detailModal" class="modal" style="display: none;background: #7abaff">
    <button id="closeButton" class="btn btn-primary btn-block" onclick="closeDetail()">关闭</button>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img id="screenshotImage" src="" alt="screenshot" style="max-width: 100%">
            </div>
            <div class="col-3">
                <div id="themeInfo">
                    <p id="themeId"></p>
                    <p id="author"></p>
                    <p id="authorWebsite"></p>
                    <p id="title"></p>
                    <p id="version"></p>
                    <p id="versionCode"></p>
                    <p id="statu"></p>
                    <button class="btn btn-primary btn-block" id="changeDisplay">应用此主题</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // 关闭弹出窗口的函数
    function closeDetail() {
        document.getElementById("detailModal").style.display = "none";
    }

    // 关闭按钮的点击事件
    document.getElementById("closeButton").addEventListener("click", closeDetail);

    // 显示详情的函数
    function showDetail(display) {
        // 根据 display 发起请求并显示详情
        fetch('/theme/' + display)
            .then(response => response.json())
            .then(data => {
                // 更新左半部分的图片URL
                document.getElementById("screenshotImage").src = "/theme/" + data.id + "/" + data.screenshot;
                // 更新右半部分的详细信息
                document.getElementById("author").textContent = "作者: " + data.author;
                document.getElementById("authorWebsite").textContent = "作者网站: " + data.authorWebsite;
                document.getElementById("themeId").textContent = data.id;
                document.getElementById("title").textContent = "标题: " + data.title;
                document.getElementById("version").textContent = "版本: " + data.version;
                document.getElementById("versionCode").textContent = "版本代码: " + data.versionCode;
                // 显示弹出窗口
                document.getElementById("detailModal").style.display = "block";
            });
    }

    // 关闭弹出窗口的函数
    function closeDetail() {
        document.getElementById("detailModal").style.display = "none";
    }

    //修改主题
    document.getElementById("changeDisplay").addEventListener("click", function () {
        var themeId = document.getElementById("themeId").innerText;
        fetch('/admin/changeTheme?NT=' + themeId, {
            method: 'POST',
        })
            .then(response => response.text())
            .then(data => {
                if (data === 'success') {
                    alert('主题应用成功！');
                } else {
                    alert('主题应用失败！');
                }
            })
            .catch(error => {
                console.error('请求出错:', error);
                alert('请求出错，请重试！');
            });
    });


</script>

<footer class="py-3 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy;zyBLOG 2024</p>
    </div>
</footer>
<!-- bootstrap.js 依赖 jquery.js 和popper.js -->
<script src="https://cdn.jsdelivr.net/npm/jquery"></script>

<!-- popper.js 采用 cdn 远程引入-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1-lts/dist/umd/popper.min.js"></script>

<!-- 引入bootstrap的js文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
</body>

</html>