<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>编辑文章</title>
    <!-- 引入 Tailwind CSS -->
    <link rel="stylesheet" href="/static/css/tailwind.min.css">
    <!-- 引入 SimpleMDE CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
</head>
{% from 'header.html' import zytopbar %}
<!-- 调用topbar -->
{{ zytopbar() }}
<body class="bg-gray-100">
<div class="container mx-auto my-8">
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="mb-4">
            <span onclick="copyAndAlert('{{ article_surl }}')">{{ article_surl }}（copy）</span>
            <label for="tagInput" class="block text-gray-700 text-sm font-bold mb-2">标签（用逗号分隔）：</label>
            <input type="text" id="tagInput"
                   value="{% for tag in tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   placeholder="Enter tags, separated by commas">
            <button id="editTags"
                    class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                保存标签
            </button>
            <a href="/blog/{{ articleName }}" target="_blank">
                <button class="mt-4 bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    文章页
                </button>
            </a>
            <br/>
            <br/>
            <form onsubmit="changePassword(event)">
                <input type="password" id="new-password" maxlength="4" required
                       class="border rounded text-gray-700 leading-tight">
                <button type="submit"
                        class="hover:bg-red-700">
                    🔑
                </button>
            </form>

        </div>

        <label for="md-editor" class="block text-gray-700 text-sm font-bold mb-2"></label>
        <button id="save-button"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            保存内容
        </button>
        <a href="#" data-article={{ articleName }} class="hidden121">隐藏/取消隐藏</a>
        <a href="#" data-article={{ articleName }} class="delete121">删除</a>
        <textarea id="md-editor" class="shadow border rounded py-2 px-3 text-grey-darker mb-3 w-full"
                  rows="10">{{ edit_html }}</textarea>
    </div>
</div>

<!-- 引入 SimpleMDE JS -->
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE({element: document.getElementById("md-editor")});
    document.getElementById("save-button").addEventListener("click", function () {
        var content = simplemde.value();
        fetch('/edit/{{ articleName }}', {
            method: 'POST',
            body: JSON.stringify({content}),
            headers: {'Content-Type': 'application/json'}
        })
            .then(response => response.json())
            .then(data => {
                if (data.show_edit_code === 'success') {
                    alert('保存成功');
                } else {
                    alert('保存失败');
                }
            })
            .catch(error => console.error('保存失败:', error));
    });

    document.getElementById("editTags").addEventListener("click", function () {
        var tagsInput = document.getElementById("tagInput").value;
        fetch('/edit/{{ articleName }}', {
            method: 'PUT',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({tags: tagsInput})
        })
            .then(response => {
                if (response.ok) {
                    alert('标签保存成功');
                } else {
                    alert('标签保存失败');
                }
            })
            .catch(error => console.error('保存失败:', error));
    });

    // 在页面加载完成后自动聚焦输入框
    document.addEventListener("DOMContentLoaded", function () {
        var tagInput = document.getElementById("tagInput");
        if (tagInput) {
            tagInput.focus(); // 自动给予焦点
        }
    });
</script>
</body>
{% from 'footer.html' import zyfooter %}
<!-- 调用footer -->
{{ zyfooter() }}
</html>
<script>
    const hiddenLinks = document.querySelectorAll('a.hidden121');

    hiddenLinks.forEach(link => {
        link.addEventListener('click', event => {
            event.preventDefault();

            // 获取文章标题
            const article = link.getAttribute('data-article');
            if (!article) {
                alert('缺少文章标题');
                return;
            }

            const requestBody = JSON.stringify({article});

            if (confirm('您正在尝试对文章进行一个操作，是否继续？')) {
                fetch('/api/hidden/article', {
                    method: 'PUT',
                    headers: {'Content-Type': 'application/json'},
                    body: requestBody
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('网络响应不正常');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.deal === 'hide') {
                            alert('文章已隐藏');
                        } else if (data.deal === 'unhide') {
                            alert('已经取消隐藏');
                        } else if (data.deal === 'noAuth') {
                            alert('无权限操作');
                        } else {
                            alert(data.deal);
                            console.log(data.message);
                        }
                    })
                    .catch(error => {
                        alert('请求出错');
                        console.error('请求出错:', error);
                    });
            }
        });
    });

    const deleteLinks = document.querySelectorAll('a.delete121');

    deleteLinks.forEach(link => {
        link.addEventListener('click', async event => {
            event.preventDefault();
            const articleId = link.getAttribute('data-article');

            // 数据验证
            if (!articleId) {
                alert('无法找到文章ID，删除操作失败！');
                return;
            }

            if (confirm('您正在尝试永久删除该文章！！！是否继续？')) {
                if (confirm('再次确认是否删除？')) {
                    try {
                        const response = await fetch(`/api/delete/${articleId}?type=article`, {method: 'DELETE'});

                        if (response.ok) {
                            alert('文章删除成功！');
                            location.reload();
                        } else {
                            const responseData = await response.json();
                            alert(`文章删除失败！原因：${responseData.message || '未知错误'}`);
                        }
                    } catch (error) {
                        alert('请求出错：' + error.message);
                    }
                }
            }
        });
    });
</script>
<script>
    async function changePassword(event) {
        event.preventDefault(); // 防止默认表单提交

        const aid = "{{ aid }}";
        const newPassword = document.getElementById('new-password').value;

        const response = await fetch(`/api/article/PW?aid=${aid}&new-passwd=${newPassword}`, {
            method: 'POST',
            credentials: 'include', // 发送 cookies
        });

        const result = await response.json();

        if (response.ok) {
            alert('Password changed successfully!');
        } else {
            alert(`Error: ${result.message}`);
        }
    }
</script>