<!-- footer.html -->
{% macro zyfooter(notice) -%}

    <footer class="bg-transparent mt-8 py-6">
        <div class="container mx-auto px-4 py-4 text-center">
            <p class="text-gray-600">
                <span class="tooltip" data-tooltip="公众号信息">公众号</span> |
                <span class="tooltip" data-tooltip="关于我们的信息">关于我们</span> |
                <span class="tooltip" data-tooltip="用户协议信息">用户协议</span>
            </p>
            <p class="text-gray-500"><a href="https://github.com/Athenavi/zb">© 2024 zyBLOG. 版权所有.</a></p>
        </div>
    </footer>

    <div class="top-bar">
        <script>
            function copyAndAlert() {
                const text = "奇客舒";
                navigator.clipboard.writeText(text).then(function () {
                    alert("已复制到剪切板，可在微信内搜索该公众号");
                }).catch(function (error) {
                    alert("复制失败：" + error);
                });
            }
        </script>
        <div class="top-bar">
            <div>
                <span style="color: green;">{{ notice | safe }}</span>
                <span id="timer">30</span>秒后自动
                <a id="close-btn">__关闭</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.onload = function () {
            var closeButton = document.querySelector('.close-button');
            var topBar = document.querySelector('.top-bar');

            closeButton.addEventListener('click', function () {
                topBar.style.display = 'none';
            });
        };
    </script>
    <script>
        // 获取 top-bar 元素和关闭按钮
        const topBar = document.querySelector('.top-bar');
        const closeButton = document.querySelector('#close-btn');
        const timerSpan = document.querySelector('#timer');

        let seconds = 30;
        timerSpan.textContent = seconds; // 初始化剩余时间

        // 计时器函数
        const countdown = () => {
            if (seconds > 0) {
                seconds--;
                timerSpan.textContent = seconds;
            } else {
                clearInterval(intervalId); // 当时间到达零时，清除计时器
                topBar.style.display = 'none';
            }
        };

        // 1秒钟倒计时一次
        const intervalId = setInterval(countdown, 1000);

        // 关闭按钮点击事件
        closeButton.addEventListener('click', () => {
            clearInterval(intervalId); // 关闭按钮被点击时，清除计时器
            topBar.style.display = 'none';
        });


        // 自动Nav跳转
        window.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                var hash = window.location.hash;

                if (hash !== '') {
                    var anchor = hash.slice(1);

                    var targetElement = document.getElementById(anchor);

                    if (targetElement) {
                        targetElement.scrollIntoView();
                    }
                }
            }, 1500);
        });

    </script>
    <script>
        document.addEventListener('click', function (event) {
            var target = event.target;

            // 检查点击的元素是否是链接
            if (target.tagName === 'A') {
                var origin = window.location.origin;
                var targetOrigin = new URL(target.href).origin;

                // 检查目标链接的源是否与当前页面的源相同
                if (origin !== targetOrigin) {
                    event.preventDefault(); // 阻止默认跳转行为
                    console.warn('只允许页面上的同源跳转');

                    // 创建新标签页打开链接
                    window.open("/jump?url=" + encodeURIComponent(target.href), '_blank');
                }
            }
        });

        (function () {
            'use strict';
            var devtools = /./;
            devtools.toString = function () {
                this.opened = true;
            };
            console.log('%c', devtools);
        })();
    </script>
    <script>
        document.addEventListener('mousedown', function (e) {
            // 获取当前点击的元素
            var target = e.target;

            // 检查当前点击的元素是否是需要排除的特定元素
            if (target.id !== 'sidebar') {
                e.preventDefault(); // 阻止鼠标按下事件的默认行为
                e.stopPropagation(); // 阻止事件冒泡

                // 监听mouseup事件，并在释放鼠标时继续阻止默认行为和事件冒泡
                target.addEventListener('mouseup', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                });

                // 监听mouseout事件，当鼠标离开当前元素时移除阻止默认行为和事件冒泡
                target.addEventListener('mouseout', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    target.removeEventListener('mouseup', arguments.callee);
                    target.removeEventListener('mouseout', arguments.callee);
                });
            }
        });
    </script>
{% endmacro %}