{% macro zytopbar() -%}
    <link href="/static/css/tailwind.min.css" rel="stylesheet">
    <link href="/static/css/side.css" rel="stylesheet">
    <div id="loading">Loading...</div>
    <nav class="bg-blue-500">
        <div class="container mx-auto flex justify-between items-center">
            <a class="text-xl text-white font-bold py-4" href="/"><img src="../static/favicon.ico"
                                                                       style="height: 32px"/>{{ title }}</a>
            <div class="container mx-auto flex justify-between items-center">
                <div class="flex space-x-4">
                    <div class="dropdown">
                        <button class="text-white hover:bg-blue-600 px-4 py-2">🔻探索</button>
                        <div class="dropdown-content">
                            <a href="/search" target="_blank">搜索</a>
                            <a href="/travel" target="_blank">随机文章</a>
                            <a href="/rss" target="_blank">rss</a>
                            <a href="/sitemap" target="_blank">站点地图</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="text-white hover:bg-blue-600 px-4 py-2">🔻关于</button>
                        <div class="dropdown-content">
                            <a href="/blog/README">readme</a>
                            <a href="/blog/legal-agreement">隐私协议</a>
                            <a href="/donate">打赏捐赠</a>
                            <a href="mailto:support@7trees.cn" target="_blank">📧邮件联系</a>
                            <a href="https://github.com/Athenavi/zb/issues" target="_blank">💬issue提交</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="text-white hover:bg-blue-600 px-4 py-2">🔻资源</button>
                        <div class="dropdown-content">
                            <a href="/profile">我的</a>
                            <a href="/media">媒体</a>
                            <a href="/register">注册</a>
                            <a href="/links">友链</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="fixed-icon">
        <script>
            function scrollToTop() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("loading").style.display = "none";
        });
        window.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        }, false);
    </script>

    <div class="fixed bottom-4 right-4">
        <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 focus:outline-none transition-transform duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
                onclick="scrollToTop()">
            🔝
        </button>
        <button id="theme-toggle"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none">
            🌙
        </button>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const button = document.getElementById('theme-toggle');

            const currentTheme = localStorage.getItem('theme');
            let isDark = currentTheme === 'dark';

            document.body.setAttribute('data-theme', isDark ? 'dark' : 'light');
            button.textContent = isDark ? '☀' : '🌙';

            button.addEventListener('click', () => {
                isDark = !isDark;

                document.body.setAttribute('data-theme', isDark ? 'dark' : 'light');
                button.textContent = isDark ? '☀' : '🌙';

                localStorage.setItem('theme', isDark ? 'dark' : 'light');
            });
        });
    </script>
{% endmacro %}