<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="">
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-mousewheel/3.1.9/jquery.mousewheel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>
    <link rel="stylesheet" href="/static/css/dropzone.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
<!-- Navigation Bar -->
{% from 'header.html' import SimpleHeader %}
{{ SimpleHeader(title) }}

<div class="container mx-auto p-6">
    <header class="bg-white rounded-lg shadow mb-6 p-4">
        <h1 class="text-2xl font-bold"><a href="/">🏠</a> 媒体文件</h1>
        <div class="flex justify-between mt-2">
            <div>
                <a href="{{ url_for('media', user_name=username, page=1) }}"
                   class="ml-2 text-blue-500 hover:underline">仅图片</a>
                <a href="{{ url_for('media', user_name=username, page=1,type='video') }}"
                   class="ml-2 text-blue-500 hover:underline">仅视频</a>
                <a href="{{ url_for('media', user_name=username, page=1,type='xmind') }}"
                   class="ml-2 text-blue-500 hover:underline">Xmind文件</a>
                <button onclick="setPreference('V1')" class="btn btn-primary">回到旧版</button>
            </div>
        </div>
    </header>

    <main class="content bg-white rounded-lg shadow p-4">
        <!-- File Upload Section -->
        <form action="/upload_file" class="dropzone border-dashed border-2 border-gray-400 rounded-lg p-8 mb-6"
              method="POST" enctype="multipart/form-data" id="myDropzone"></form>
        <script src="/static/js/dropzone.js"></script>
        <script>
            // Initialize Dropzone
            Dropzone.options.myDropzone = {
                acceptedFiles: '.jpg, .png, .webp, .jfif, .pjpeg, .jpeg, .pjp, .mp4, .xmind',
                maxFilesize: 60,
                maxFiles: 1,
                dictFileTooBig: '超出文件大小限制 ({{filesize}}MB). 最大文件大小: {{maxFilesize}}MB.',
                dictInvalidFileType: '无效的文件类型. 仅支持 JPG, PNG, WEBP, JFIF, PJPEG, JPEG, PJP, MP4 文件。',
                init: function () {
                    this.on('success', function (file, response) {
                        console.log('文件上传成功');
                    });
                    this.on('error', function (file, errorMessage) {
                        console.log('文件上传错误: ' + errorMessage);
                    });
                }
            };
        </script>

        <hr class="my-4">

        <!-- Media Display Section -->
        <section>
            <ul class="grid grid-cols-2 md:grid-cols-4 gap-4">
                {% for img in imgs %}
                    <li class="group">
                        <div class="bg-gray-200 rounded-lg overflow-hidden shadow">
                            <a href="/zyImg/{{ username }}/{{ img }}" class="fancybox" data-fancybox="gallery"
                               title="">
                                <img src="/img/{{ username }}/thumbs/{{ img }}" alt=""
                                     class="w-full h-40 object-cover"/>
                            </a>
                        </div>
                    </li>
                {% endfor %}
                {% for video in videos %}
                    <li class="group">
                        <div class="bg-gray-200 rounded-lg overflow-hidden shadow">
                            <a class="card-link" onclick="startVideo('{{ video }}')">
                                <button class="btn btn-primary" onclick="copyVideoURL('{{ video }}')">copy</button>
                                <img src="/video/{{ username }}/thumbs/{{ video }}.png" alt=""
                                     class="w-full h-40 object-cover"/>
                            </a>
                        </div>
                    </li>
                {% endfor %}
                {% for xmind in xminds %}
                    <li class="group">
                        <div class="bg-gray-200 rounded-lg overflow-hidden shadow">
                            <a class="card-link"
                               onclick="prewXmind('{{ domain }}preview?user={{ username }}&file_name={{ xmind }}')">
                                {{ xmind }}
                                <img src="/xmind/{{ username }}/thumbs/{{ xmind }}.png" alt=""
                                     class="w-full h-40 object-cover"/>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <!-- Pagination Section -->
        <div class="pagination my-4">
            {% for mediaType in ['imgs', 'videos', 'xminds'] %}
                <div class="flex justify-between my-4">
                    {% if has_previous_page and eval(mediaType) %}
                        <a href="{{ url_for('media', user_name=username, page=current_page-1, type=mediaType) }}"
                           class="btn btn-secondary">Previous</a>
                    {% endif %}
                    {% if has_next_page and eval(mediaType) %}
                        <a href="{{ url_for('media', user_name=username, page=current_page+1, type=mediaType) }}"
                           class="btn btn-secondary">Next</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </main>

    <!-- Footer -->
    {% from 'footer.html' import SimpleFooter %}
    {{ SimpleFooter(title, beian) }}
</div>

<!-- Video Popup -->
<div id="video-popup" class="hidden fixed inset-0 z-50 bg-black bg-opacity-80 flex items-center justify-center">
    <div class="video-wrapper">
        <video id="video-image" src="" controls class="max-w-80 max-h-80 border-2 border-white rounded"></video>
        <button class="btn btn-primary mt-2" onclick="closeVideo()">关闭</button>
    </div>
</div>

<!-- Xmind Popup -->
<div id="xmind-popup" class="hidden fixed inset-0 z-50 bg-black bg-opacity-80 flex items-center justify-center">
    <div class="xmind-wrapper">
        <button class="btn btn-primary" onclick="closeXmind()">关闭预览</button>
    </div>
</div>

<script src="/static/js/media.js"></script>
<script src="/static/js/prewXmind.js"></script>
<script>
    function copyImgURL(img) {
        const URL = "{{ domain }}" + "zyImg/{{ username }}/" + img;
        navigator.clipboard.writeText(URL).then(function () {
            alert("已复制到剪切板，可在博客中使用此外链图片");
        }).catch(function (error) {
            alert("复制失败：" + error);
        });
    }

    function copyVideoURL(video) {
        const URL = "{{ domain }}" + "zyVideo/{{ username }}/" + video;
        navigator.clipboard.writeText(URL).then(function () {
            alert("已复制到剪切板，可在博客中使用此外链视频");
        }).catch(function (error) {
            alert("复制失败：" + error);
        });
    }

    function copyXmindURL(xmind) {
        const URL = "{{ domain }}" + "blog/f/{{ username }}/" + xmind;
        navigator.clipboard.writeText(URL).then(function () {
            alert("已复制到剪切板，可在博客中使用此外链 Xmind");
        }).catch(function (error) {
            alert("复制失败：" + error);
        });
    }

    function startVideo(video) {
        var videoSrc = "/zyVideo/{{ username }}/" + video;
        document.getElementById("video-image").src = videoSrc; // 设置视频源
        document.getElementById("video-popup").classList.remove("hidden"); // 显示弹窗
    }
</script>
</body>
</html>
