<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="zyBLOG|基于flask的博客程序">
    <meta name="keywords" content="zyBLOG, flask, 七棵树, 奇客舒, 博客">
    <meta name="robots" content="index, follow">
    <title>{{ title }} | zyBLOG</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
        body {
            background: url(/static/image/day.jpg) no-repeat center/cover;
            color: #fff;
        }

        .card-title, .card-body h6 {
            white-space: nowrap; /* 不换行 */
            overflow: hidden; /* 隐藏超出部分 */
            text-overflow: ellipsis; /* 使用省略号 */
        }

        .card-body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            background: transparent;
            transition: background 0.3s ease;
        }

        .btn-primary:hover {
            background-color: #FFC107; /* 悬停时变为亮黄色 */
        }

        #image-popup, #video-popup, #xmind-popup {
            display: none;
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .image-wrapper, .video-wrapper, .xmind-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .image-wrapper img {
            max-width: 80%;
            max-height: 80%;
            border: 2px solid #fff; /* 保留原来风格 */
            border-radius: 5px;
        }

        .video-wrapper video {
            max-width: 80%;
            max-height: 80%;
            border: 2px solid #fff; /* 保留原来风格 */
            border-radius: 5px;
        }

        .xmind-wrapper button {
            font-size: 16px;
            margin-top: 10px;
        }

        /* 响应式设计 */
        @media (max-width: 768px) {
            .col-md-6 {
                flex: 0 0 100%; /* 小屏幕时每个卡片占满一行 */
            }

            .block-content {
                padding: 10px; /* 更小的内边距 */
            }
        }

        @media (min-width: 768px) {
            .block-content {
                margin-bottom: 30px;
            }
        }
    </style>
</head>

<body class="{{ theme }}">
{% from 'header.html' import zytopbar %}
{{ zytopbar() }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="block-content block-content-full px-lg-4 py-md-4 py-lg-4">
                {% if userid %}
                    <div class="d-flex justify-content-between">
                        <div>
                            <a href="/profile">{{ userid }}</a>
                            <a href="{{ url_for('media', username=userid, page=1) }}" class="ml-2">仅图片</a>
                            <a href="{{ url_for('media', username=userid, page=1,type='video') }}" class="ml-2">仅视频</a>
                            <a href="{{ url_for('media', username=userid, page=1,type='xmind') }}" class="ml-2">Xmind文件</a>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        <a href="/login">您还没有登录呢</a>
                    </div>
                {% endif %}
                <!-- 文件上传 -->
                <link rel="stylesheet" href="/static/css/dropzone.css">
                <form action="/upload_file" class="dropzone" method="POST" enctype="multipart/form-data"
                      id="myDropzone"></form>
                <script src="/static/js/dropzone.js"></script>
                <script>
                    // Initialize Dropzone
                    Dropzone.options.myDropzone = {
                        acceptedFiles: '.jpg, .png, .webp, .jfif, .pjpeg, .jpeg, .pjp, .mp4, .xmind',
                        maxFilesize: 60,
                        maxFiles: 1,
                        dictFileTooBig: '超出文件大小限制 ({{filesize}}MB). 最大文件大小: {{maxFilesize}}MB.',
                        dictInvalidFileType: '无效的文件类型. 仅支持 JPG, PNG, WEBP, JFIF, PJPEG, JPEG, PJP, MP4 文件。',
                        init: function () {
                            this.on('success', function (file, response) {
                                console.log('文件上传成功');
                            });
                            this.on('error', function (file, errorMessage) {
                                console.log('文件上传错误: ' + errorMessage);
                            });
                        }
                    };
                </script>
                <hr>
                <!-- 翻页按钮 -->
                {% if has_previous_page and imgs %}
                    <a href="{{ url_for('media', username=userid, page=current_page-1) }}"
                       class="btn btn-secondary">Previous</a>
                {% endif %}
                <span>----------</span>
                {% if has_next_page and imgs %}
                    <a href="{{ url_for('media', username=userid, page=current_page+1)}}"
                       class="btn btn-secondary">Next</a>
                {% endif %}

                {% if has_previous_page and videos %}
                    <a href="{{ url_for('media', username=userid, page=current_page-1,type='video') }}"
                       class="btn btn-secondary">Previous</a>
                {% endif %}
                <span>----------</span>
                {% if has_next_page and videos %}
                    <a href="{{ url_for('media', username=userid, page=current_page+1,type='video')}}"
                       class="btn btn-secondary">Next</a>
                {% endif %}

                {% if has_previous_page and xminds %}
                    <a href="{{ url_for('media', username=userid, page=current_page-1,type='xmind') }}"
                       class="btn btn-secondary">Previous</a>
                {% endif %}
                <span>----------</span>
                {% if has_next_page and xminds %}
                    <a href="{{ url_for('media', username=userid, page=current_page+1,type='xmind')}}"
                       class="btn btn-secondary">Next</a>
                {% endif %}
            </div>

            <div class="row mt-4">
                {% for img in imgs %}
                    <div class="col-md-6 mb-4">
                        <a class="card-link" onclick="showImage('{{ img }}')">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">{{ img }}</h3>
                                    <button class="btn btn-primary" onclick="copyImgURL('{{ img }}')"></button>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}

                {% for video in videos %}
                    <div class="col-md-6 mb-4">
                        <a class="card-link" onclick="startVideo('{{ video }}')">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">{{ video }}</h3>
                                    <button class="btn btn-primary" onclick="copyVideoURL('{{ video }}')">
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}

                {% for xmind in xminds %}
                    <div class="col-md-6 mb-4">
                        <a class="card-link"
                           onclick="prewXmind('{{ domain }}preview?user={{ userid }}&file_name={{ xmind }}')">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">{{ xmind }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <!-- 翻页按钮 -->
            <div class="d-flex justify-content-between">
                {% if has_previous_page and imgs %}
                    <a href="{{ url_for('media', username=userid, page=current_page-1) }}"
                       class="btn btn-secondary">Previous</a>
                {% endif %}
                {% if has_next_page and imgs %}
                    <a href="{{ url_for('media', username=userid, page=current_page+1)}}"
                       class="btn btn-secondary">Next</a>
                {% endif %}
            </div>

            <div class="d-flex justify-content-between mt-3">
                {% if has_previous_page and videos %}
                    <a href="{{ url_for('media', username=userid, page=current_page-1,type='video') }}"
                       class="btn btn-secondary">Previous</a>
                {% endif %}
                {% if has_next_page and videos %}
                    <a href="{{ url_for('media', username=userid, page=current_page+1,type='video')}}"
                       class="btn btn-secondary">Next</a>
                {% endif %}
            </div>

            <div class="d-flex justify-content-between mt-3">
                {% if has_previous_page and xminds %}
                    <a href="{{ url_for('media', username=userid, page=current_page-1,type='xmind') }}"
                       class="btn btn-secondary">Previous</a>
                {% endif %}
                {% if has_next_page and xminds %}
                    <a href="{{ url_for('media', username=userid, page=current_page+1,type='xmind')}}"
                       class="btn btn-secondary">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- 弹窗部分 -->
<div id="video-popup">
    <div class="video-wrapper">
        <video id="video-image" src="" controls></video>
        <button class="btn btn-primary" onclick="closeVideo()">关闭</button>
    </div>
</div>

<div id="image-popup">
    <div class="image-wrapper">
        <img id="popup-image" src="" alt="Image" class="img-fluid">
        <button class="btn btn-primary" onclick="closeImage()">关闭</button>
    </div>
</div>

<div id="xmind-popup">
    <div class="xmind-wrapper">
        <button class="btn btn-primary" onclick="closeXmind()">关闭预览</button>
    </div>
</div>

{% from 'footer.html' import zyfooter %}
{{ zyfooter() }}

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

<script>
    function showImage(img) {
        fetch('/media', {
            method: 'POST',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({img_name: img})
        })
            .then(response => response.blob())
            .then(blob => {
                const imageURL = URL.createObjectURL(blob);
                document.getElementById('popup-image').src = imageURL;
                document.getElementById('image-popup').style.display = 'block';
            })
            .catch(error => console.error(error));
    }

    function closeImage() {
        document.getElementById('image-popup').style.display = 'none';
    }

    function closeVideo() {
        document.getElementById('video-popup').style.display = 'none';
    }

    function copyImgURL(img) {
        const URL = "{{ domain }}" + "zyImg/{{ userid }}/" + img;
        navigator.clipboard.writeText(URL).then(function () {
            alert("已复制到剪切板，可在博客中使用此外链图片");
        }).catch(function (error) {
            alert("复制失败：" + error);
        });
    }

    function copyVideoURL(video) {
        const URL = "{{ domain }}" + "zyVideo/{{ userid }}/" + video;
        navigator.clipboard.writeText(URL).then(function () {
            alert("已复制到剪切板，可在博客中使用此外链视频");
        }).catch(function (error) {
            alert("复制失败：" + error);
        });
    }

    function copyXmindURL(xmind) {
        const URL = "{{ domain }}" + "blog/f/{{ userid }}/" + xmind;
        navigator.clipboard.writeText(URL).then(function () {
            alert("已复制到剪切板，可在博客中使用此外链 Xmind");
        }).catch(function (error) {
            alert("复制失败：" + error);
        });
    }

    function startVideo(video) {
        var videoSrc = "/zyVideo/{{ userid }}/" + video;
        document.getElementById("video-image").src = videoSrc;
        document.getElementById("video-popup").style.display = "block";
    }

    document.addEventListener('DOMContentLoaded', function () {
        const h3Elements = document.querySelectorAll('.card-title');

        h3Elements.forEach(element => {
            if (element.textContent.trim().length > 12) {
                const h6Element = document.createElement('h6');
                h6Element.innerHTML = element.innerHTML;
                element.parentNode.replaceChild(h6Element, element);
            }
        });
    });
</script>
<script src="../static/js/docsify.min.js"></script>
<script src='../static/js/docsify-xmind.js'></script>
<script src="../static/js/prewXmind.js"></script>
</body>
</html>