<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">

<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 预留网站标题的位置 -->
    <title>前台投稿</title>
    <!-- 引入Tailwind CSS的样式文件 -->
    <link href="../static/css/tailwind.min.css" rel="stylesheet">
    <!-- 引入自定义样式文件 -->
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
{% from 'header.html' import zytopbar %}
<!-- 调用topbar -->
{{ zytopbar() }}

<!-- 预留具体页面的位置 -->
<div class="container mx-auto">
    <div class="flex justify-center">
        <span>当前页面提供 “.md” 文章的上传</span><br><br>
        <span style="color:red">*文件大小<“10MB”;<br>*请勿上传违法违规的文件<br>*确认好上传的文件信息再点击上传</span>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <div id="result"></div>
        <form method="POST" action="/newArticle" enctype="multipart/form-data" class="my-6">
            <div>
                <label for="file" class="block">选择要上传的文件:</label>
                <input type="file" id="file" name="file" accept=".md" class="mt-2">
            </div>
            <input type="submit" value="上传"
                   class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
        </form>
    </div>
</div>
{% from 'footer.html' import zyfooter %}
<!-- 调用footer -->
{{ zyfooter() }}
</body>
</html>