<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="zyBLOG|基于flask的博客程序">
    <meta name="keywords" content="zyBLOG, flask, 七棵树, 奇客舒, 博客">
    <meta name="robots" content="index, follow">
    <title>{{ title }} | zyBLOG</title>
    <!-- Tailwind CSS -->
    <link href="/static/css/tailwind.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <style>
        #myFooter {
            background: transparent;
        }
    </style>
</head>

<body class="bg-cover bg-center">
{% from 'header.html' import zytopbar %}
{{ zytopbar() }}
<div class="container mx-auto mt-8 px-4">
    <div class="flex justify-center">
        <div class="w-full md:w-8/12 bg-white rounded-lg shadow-lg p-6">
            {% if userStatus %}
                <div class="flex items-center mb-4">
                    <img src="{{ avatar_url }}" class="h-10 w-10 rounded-full" alt="">
                    <a href="/media" class="ml-4 text-blue-700">📂 媒体</a>
                    <a href="/setting/profiles" class="ml-4 text-blue-700">⚙️ 设置</a>
                </div>
                <div id="notifications" class="mb-6"></div>

                <script>
                    $(document).ready(function () {
                        var socket = io('{{ notiHost }}');
                        socket.on('new_notification', function (data) {
                            $('#notifications').append('<p class="text-red-600 mb-4">' + data.message + '</p>');
                        });
                    });
                </script>
            {% else %}
                <a href="/login?callback=profile" class="text-blue-700">需要登录</a>
            {% endif %}
            <hr class="my-4">
            {% if Articles %}
                <h2 class="text-2xl font-bold mb-4">{{ title }}的文章</h2>
            {% endif %}
            <div class="space-y-4">
                {% for article in Articles %}
                    <div class="bg-gray-100 p-4 rounded-lg flex justify-between items-center">
                        <a href="{{ url_for('blog_detail', article=article) }}"
                           class="text-xl font-semibold text-blue-700">{{ article }}</a>
                        <div class="flex items-center space-x-4">
                            <a href="/edit/{{ article }}" class="text-green-500">编辑</a>
                            <a href="#" data-article={{ article }} class="hidden121">隐藏/取消隐藏</a>
                            <a href="#" data-article={{ article }} class="delete121">删除</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% from 'footer.html' import zyfooter %}
{{ zyfooter(notice) }}
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script>
    const hiddenLinks = document.querySelectorAll('a.hidden121');

    hiddenLinks.forEach(link => {
        link.addEventListener('click', event => {
            event.preventDefault();
            const article = link.getAttribute('data-article');
            const requestBody = JSON.stringify({article});

            if (confirm('您正在尝试对文章进行一个操作，是否继续？')) {
                fetch('/hidden/article', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: requestBody
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.deal === 'hide') {
                            alert('文章已隐藏');
                        } else if (data.deal === 'unhide') {
                            alert('已经取消隐藏');
                        } else if (data.deal === 'noAuth') {
                            alert('无权限操作');
                        } else {
                            alert(data.deal);
                            console.log(data.message);
                        }
                    })
                    .catch(error => {
                        alert('请求出错');
                        console.error('请求出错:', error);
                    });
            }
        });
    });

    const deleteLinks = document.querySelectorAll('a.delete121');

    deleteLinks.forEach(link => {
        link.addEventListener('click', event => {
            event.preventDefault();
            const article = link.getAttribute('data-article');

            if (confirm('您正在尝试永久删除该文章！！！是否继续？')) {
                if (confirm('再次确认呢？是否继续？')) {
                    fetch(`/delete/${article}`, {method: 'POST'})
                        .then(response => {
                            if (response.ok) {
                                alert('文章删除成功！');
                                location.reload();
                            } else {
                                alert('文章删除失败！');
                            }
                        })
                        .catch(error => {
                            alert('请求出错：' + error);
                        });
                }
            }
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
<script>
    window.onload = function () {
        setTimeout(function () {
            fetch('{{ notiHost }}', {
                method: 'GET',
                credentials: 'include'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
        }, 3000);
    };
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const parentContainer = document.getElementById('notice'); // 这里假设有个notice容器

        parentContainer.addEventListener('click', function (event) {
            if (event.target && event.target.classList.contains('notice_read')) {
                if (confirm('是否删除此通知？')) {
                    const nid = event.target.id;

                    fetch('{{ notiHost }}/read?nid=' + nid, {
                        method: 'GET',
                        credentials: 'include'
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.is_notice_read) {
                                event.target.parentElement.removeChild(event.target);
                            } else {
                                alert('删除失败，请稍后再试。');
                            }
                        })
                        .catch(error => {
                            console.error('发生错误:', error);
                            alert('请求发生错误，请重试。');
                        });
                }
            }
        });
    });
</script>
