<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="zyBLOG|基于flask的博客程序">
    <meta name="keywords" content="zyBLOG, flask, 七棵树, 奇客舒, 博客">
    <meta name="robots" content="index, follow">
    <title>{{ title }} | zyBLOG</title>
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background: url(../static/image/day.jpg) no-repeat center/cover;
        }
    </style>
</head>

<body class="bg-cover bg-center">
{% from 'header.html' import zytopbar %}
{{ zytopbar() }}
<div class="container mx-auto mt-8">
    <div class="flex justify-center">
        <div class="w-full md:w-8/12 bg-white rounded-lg shadow-lg p-6">
            {% if userStatus %}
                <div class="flex items-center mb-4">
                    <img src="{{ avatar_url }}" class="h-10 w-10 rounded-full" alt="">
                    <a href="/media" class="ml-4 text-blue-500 hover:underline">📂 媒体</a>
                    <a href="/setting/profiles" class="ml-4 text-blue-500 hover:underline">⚙️ 设置</a>
                </div>
                <div id="notifications" class="mb-6"></div>

                <script>
                    $(document).ready(function () {
                        var socket = io('{{ notiHost }}');
                        socket.on('new_notification', function (data) {
                            $('#notifications').append('<p class="text-red-600 mb-4">' + data.message + '</p>');
                        });
                    });
                </script>
            {% else %}
                <a href="/login?callback=profile" class="text-blue-500 hover:underline">需要登录</a>
            {% endif %}
            <hr class="my-4">
            {% if Articles %}
                <h2 class="text-2xl font-bold mb-4">{{ title }}的文章</h2>
            {% endif %}
            <div class="space-y-4">
                {% for article in Articles %}
                    <div class="bg-gray-100 p-4 rounded-lg flex justify-between items-center">
                        <a href="{{ url_for('blog_detail', article=article) }}"
                           class="text-xl font-semibold text-blue-700 hover:underline">{{ article }}</a>
                        <div>
                            <a href="/edit/{{ article }}" class="text-green-500 hover:underline">编辑</a>
                            <a href="#" data-article={{ article }} class="hidden121 ml-4
                               text-blue-500">隐藏/取消隐藏</a>
                            <a href="#" data-article={{ article }} class="delete121 ml-4 text-red-500">删除</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
</body>
</html>
<script>
    // 获取URL参数的函数
    function getParameterByName(name) {
        name = name.replace(/[\[\]]/g, "\\$&");
        var url = window.location.href;
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
        var results = regex.exec(url);
        if (!results) return '我';
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    // 在页面加载时获取URL参数id的值并显示
    window.onload = function () {
        var id = getParameterByName('id');
        var span = document.getElementById('idSpan');
        span.innerHTML = id;
    }
    // 设置隐藏/取消隐藏文章的请求参数
    const hiddenLinks = document.querySelectorAll('a.hidden121');

    // 为每个隐藏链接添加点击事件处理程序
    hiddenLinks.forEach(link => {
        link.addEventListener('click', event => {
            event.preventDefault(); // 阻止默认链接行为

            // 获取链接上的 data-article 属性作为文章名
            const article = link.getAttribute('data-article');

            // 构建请求体
            const requestBody = JSON.stringify({article});

            var confirmation = confirm('您正在尝试对文章进行一个操作，是否继续？');
            if (!confirmation) {
                // 用户点击了取消，终止本次请求
                return;
            }

            // 发起 POST 请求
            fetch('/hidden/article', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: requestBody
            })
                .then(response => response.json())
                .then(data => {
                    if (data.deal === 'hide') {
                        // 处理隐藏文章的响应
                        console.log('文章已隐藏');
                        alert('文章已隐藏');
                    } else if (data.deal === 'unhide') {
                        // 处理取消隐藏文章的响应
                        console.log('文章已取消隐藏');
                        alert('已经取消隐藏');
                    } else if (data.deal === 'noAuth') {
                        console.log('noAuth');
                        alert('无权限操作');
                    } else {
                        // 处理其他响应
                        console.log(data.message);
                    }
                })
                .catch(error => {
                    alert('请求出错');
                    console.error('请求出错:', error);
                });
        });
    });


    //
    const deleteLinks = document.querySelectorAll('a.delete121');

    // 为每个隐藏链接添加点击事件处理程序
    deleteLinks.forEach(link => {
        link.addEventListener('click', event => {
            event.preventDefault(); // 阻止默认链接行为

            // 获取链接上的 data-article 属性作为文章名
            const article = link.getAttribute('data-article');

            var confirmation = confirm('您正在尝试永久删除该文章！！！是否继续？');
            if (!confirmation) {
                // 用户点击了取消，终止本次请求
                return;
            }

            var confirmation0 = confirm('再次确认呢？是否继续？');
            if (!confirmation0) {
                // 用户点击了取消，终止本次请求
                return;
            }


            // 发起 POST 请求
            fetch(`/delete/${article}`, {
                method: 'POST'
            })
                .then(response => {
                    if (response.ok) {
                        // 成功删除文章
                        alert('文章删除成功！');
                        // 刷新页面或做其他处理
                        location.reload();
                    } else {
                        // 删除文章失败
                        alert('文章删除失败！');
                    }
                })
                .catch(error => {
                    // 请求出错
                    alert('请求出错：' + error);
                });
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
<script>
    window.onload = function () {
        setTimeout(function () {
            fetch('{{ notiHost }}', {
                method: 'GET', // 或者 'POST' 等方法
                credentials: 'include' // 发送请求时包含 Cookie
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // 或者根据你的需要处理响应
                })
                .then(data => {
                    console.log(data); // 处理返回的数据
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
        }, 3000); // 等待3000毫秒（3秒）
    };
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const parentContainer = document.getElementById('notice');

        // 在父元素上添加事件监听器
        parentContainer.addEventListener('click', function (event) {
            // 检查事件目标是否是 class 为 notice_read 的按钮
            if (event.target && event.target.classList.contains('notice_read')) {
                const confirmation = confirm('是否删除此通知？');
                if (confirmation) {
                    const nid = event.target.id; // 获取按钮的 id

                    fetch('{{ notiHost }}/read?nid=' + nid, {
                        method: 'GET', // 或者 'POST' 等方法
                        credentials: 'include' // 发送请求时包含 Cookie
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.is_notice_read) {
                                event.target.parentElement.removeChild(event.target); // 移除按钮
                            } else {
                                alert('删除失败，请稍后再试。');
                            }
                        })
                        .catch(error => {
                            console.error('发生错误:', error);
                            alert('请求发生错误，请重试。');
                        });
                }
            }
        });
    });
</script>