<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="zyBLOG|基于flask的博客程序">
    <meta name="keywords" content="zyBLOG, flask, 七棵树, 奇客舒, 博客">
    <meta name="robots" content="index, follow">
    <title>{{ title }} | zyBLOG</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/card.css">
    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/9a44b29ba7.js" crossorigin="anonymous"></script>
</head>

<body class="{{ theme }}">

<!-- Navigation -->
{% from 'header.html' import zytopbar %}
{{ zytopbar() }}

<div class="container-fluid">
    <div class="row">
        <span>{{ notice|safe }}</span>
        <!-- Main Content -->
        <main class="col-md-8">
            {% for article, time in articles_time_list %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-body d-flex align-items-center">
                        <img class="img-fluid" style="max-height: 75px;" src="http://api.7trees.cn/img"
                             alt="{{ article }}">
                        <div>
                            <h5 class="card-title ml-3">{{ article }}</h5>
                            <p class="text-muted mb-2 ml-3">发布于 {{ time }}</p>
                            <a href="{{ url_for('blog_detail', article=article) }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if has_previous_page %}
                        <li class="page-item">
                            <a class="page-link" href="/?page={{ current_page-1 }}&tag={{ tag }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo; 上一页</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if has_next_page %}
                        <li class="page-item">
                            <a class="page-link" href="/?page={{ current_page+1}}&tag={{ tag }}" aria-label="Next">
                                <span aria-hidden="true">下一页 &raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </main>
        <!-- Side Content -->
        <aside class="col-md-4">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">标签</h4>
                {% for tag in tags %}
                    <span>🏷️<a href="/?tag={{ tag }}">{{ tag }}</a></span>
                {% endfor %}
            </div>
            <hr>
            <a class="button" href="Mailto:support@7trees.cn">联系我</a>
            <hr>
            <span style="margin-right: 5px;">Ctrl + F 搜索内容</span>
            <img src="/static/image/gzh.png" alt="Wx——qrcode" style="height: 95px;">
            <hr>
            <a class="button" href="/travel">随机一篇文章</a><br>
            <a class="button" href="/blog/privacy">隐私协议</a><br>
            <a class="button" href="/blog/legal-agreement">法律声明</a><br>
            <a class="button" href="/sitemap">站点地图</a><br>
            <a class="button" href="/feed">RSS订阅</a><br>
            <br>
        </aside>
    </div>
</div>

<!-- Footer -->
{% from 'footer.html' import zyfooter %}
{{ zyfooter('ICP备案号') }}

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
