<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <meta name="description" content="zyBLOG|基于flask的博客程序">
    <meta name="keywords" content="zyBLOG, flask, 七棵树, 奇客舒, 博客">
    <meta name="robots" content="index, follow">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="bg-cover bg-center">
{% from 'header.html' import zytopbar %}
{{ zytopbar() }}
<main class="container mx-auto mt-8 flex">
    <section class="flex-1 grid grid-cols-1 md:grid-cols-2 gap-6">
        <h2 class="text-xl font-bold mb-2">{{ page_mark }}最新文章</h2>
        <div class="p-6 mb-6 bg-gray-50 rounded-lg shadow">
            <h4 class="font-bold text-gray-800 mb-4">标签</h4>
            <div class="flex flex-wrap">
                {% for tag in tags %}
                    <a href="/?tag={{ tag }}"
                       class="bg-gray-200 text-blue-700 px-3 py-1 mr-2 mb-2 rounded-full hover:bg-blue-200 transition duration-200">
                        {{ tag }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% from 'musicPlayer.html' import player %}
        {{ player() }}
        <hr style="visibility: hidden"/>
        {% for sub_id,sub_name in subscriber_ids_list %}
            <div class="card bg-lightblue-500 shadow-lg rounded-lg overflow-hidden border border-gray-200">
                <a href="/profile?id={{ sub_id }}&sn={{ sub_name }}"
                   class="flex hover:bg-gray-100 transition duration-200">
                    <div class="flex-1 p-4">
                        <h5 class="text-xl font-bold mb-2">{{ sub_name }}</h5>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% for article, summary, info in articles_time_list %}
            <article class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300">
                <a href="{{ url_for('blog_detail', article=article) }}"><h2
                        class="text-xl font-semibold text-gray-800">{{ article }}</h2></a>
                <p class="text-gray-600 mt-2">{{ summary }}</p>
                <time class="text-gray-500 mt-4 block">{{ info }}</time>
            </article>
        {% endfor %}
        <nav aria-label="Page navigation example" class="my-4">
            <ul class="flex justify-center space-x-2">
                {% if has_previous_page %}
                    <li>
                        <a class="page-link bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
                           href="/?page={{ current_page-1 }}&tag={{ tag }}">
                            &laquo; 上一页
                        </a>
                    </li>
                {% endif %}
                {% if has_next_page %}
                    <li>
                        <a class="page-link bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
                           href="/?page={{ current_page+1 }}&tag={{ tag }}">
                            下一页 &raquo;
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="w-full h-auto mb-4 rounded-lg shadow">
            {% if friends_links %}
                <h4 class="font-bold text-gray-800 mb-4">友情链接</h4>
                {% for site_name, site_url in friends_links.items() %}
                    <a href="{{ site_url }}"
                       style="text-decoration: none; color: #4CAF50; font-weight: bold; font-size: 18px; padding: 5px; transition: background-color 0.3s, color 0.3s;">{{ site_name }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </section>
</main>
<!-- Footer -->
{% from 'footer.html' import zyfooter %}
{{ zyfooter(notice[0].title ~ notice[0].message) }}
</body>

</html>