<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Tailwind CSS 文件 -->
    <link href="../static/css/tailwind.min.css" rel="stylesheet">
    <title>跳转提示页</title>
    <style>
        body {
            background-image: url(../static/image/day.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
        }
    </style>

</head>

<body>
<div class="container">
    {% if url and url != domain %}
        <div class="flex justify-center">
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <span>你即将跳转的<br>{{ url }}</span>
            <br>
            <hr>
            <a href="/">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">🏠</button>
            </a>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" id="close">取消访问
            </button>
            <br>
            <hr>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="jump">继续访问
            </button>
        </div>
    {% elif url == domain %}
        <div class="flex justify-center">
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <span>你未指定跳转的链接<br>去主页{{ url }}看看吧<br></span>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="jump">访问主页
            </button>
        </div>
    {% endif %}
    </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#jump").on("click", function () {
            window.location.href = "{{ url }}";
        });

        $("#close").on("click", function () {
            window.close();
        });
    });
</script>
</body>
</html>
