<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Tailwind CSS 文件 -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>注册</title>
    <style>
        body {
            background-image: url(../static/image/day.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
        }
    </style>

</head>

<body>
<div class="container">
    <div class="flex justify-center">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h1 class="text-4xl text-center mb-6">注册</h1>
            {% if msg %}
                <div class="bg-red-500 text-white p-3 mb-4">{{ msg }}</div>
            {% endif %}
            <form method="post" action="/register" onsubmit="return validateForm()" class="w-full max-w-sm">
                <div class="mb-4">
                    <input type="text" class="border border-gray-300 rounded-md p-2 w-full" id="username" name="username" placeholder="用户名" required>
                </div>
                <div class="mb-4">
                    <input type="password" class="border border-gray-300 rounded-md p-2 w-full" id="password" name="password" placeholder="密码" required>
                </div>
                <div class="mb-4">
                    <input type="password" class="border border-gray-300 rounded-md p-2 w-full" id="confirm_password" name="confirm_password" placeholder="确认密码" required>
                </div>
                <div class="mb-4">
                    <input type="text" class="border border-gray-300 rounded-md p-2 w-full" id="invite_code" name="invite_code" placeholder="邀请码" required>
                </div>
                <button type="submit" class="bg-blue-500 text-white rounded-md p-2 w-full mb-4">提交注册</button>
                <p class="text-center text-sm">已经拥有账号？<a href="/login" class="text-blue-500">前往登录</a></p>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

<script>
    function validateForm() {
        var password = document.getElementById("password").value;
        var confirm_password = document.getElementById("confirm_password").value;

        if (password !== confirm_password) {
            alert("密码和确认密码不一致");
            return false;
        }
    }
</script>

</body>

</html>
