<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="zyBLOG|基于flask的博客程序">
    <meta name="keywords" content="zyBLOG, flask, 七棵树, 奇客舒, 博客">
    <meta name="robots" content="index, follow">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
        .new-year-bg {
            background-image: url('/theme/cn.7trees.2025/—Pngtree—2025 year of the snake_15945435.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: #877725;
        }

        section a span {
            color: #dd566a;
        }

        .new-year-text {
            color: #c0392b;
        }

        @media (max-width: 768px) {
            .new-year-bg {
                background-attachment: scroll;
                background-position: right;
            }
        }

    </style>
</head>

<body class="bg-gray-100 new-year-bg">

<!-- Header -->
{% from 'header.html' import zytopbar %}
{{ zytopbar() }}
<!-- Main Content -->
<div class="container mx-auto mt-6 px-4">
    {% if article_info %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for article in article_info %}{% set ArticleID = article[0] %}{% set Title = article[1] %}
                {% set Author = article[2] %}
                {% set Views = article[3] %}{% set Likes = article[4] %}{% set Comments = article[5] %}{% set CoverImage = article[6] %}
                {% set Excerpt = article[8] %}{% set tags = article[10].split(';') %}
                <div class="bg-white rounded-lg shadow-md overflow-hidden">
                    {% if CoverImage %}
                        <img src="/api/{{ CoverImage }}?format=webp" alt="{{ Title }}"
                             class="w-full h-48 object-cover">
                    {% else %}
                        <img src="https://api.7trees.cn/img" alt="{{ Title }}" class="w-full h-48 object-cover">
                    {% endif %}
                    <div class="p-4">
                        <a href="/blog/{{ Title }}">
                            <h2 class="text-xl font-semibold">{{ Title }}</h2></a>
                        <p class="text-gray-600 mt-2">
                            <strong>作者:</strong> {{ Author }} |
                            <strong>阅读:</strong> {{ Views }} |
                            <strong>喜欢:</strong> {{ Likes }} |
                            <strong>评论:</strong> {{ Comments }}
                        </p>
                        <p class="mt-4 text-gray-800">{{ Excerpt }}</p>
                        {% if tags %}
                            <div class="mt-4">
                                {% for tag in tags %}
                                    <a href="/tag/{{ tag }}"
                                       class="inline-block bg-blue-500 text-white text-xs font-semibold rounded-full px-2 py-1 mr-2">{{ tag }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav class="flex justify-center mt-6">
            <ul class="flex items-center">
                {% if page > 1 %}
                    <li><a class="bg-gray-300 text-gray-800 px-4 py-2 rounded-l hover:bg-gray-400"
                           href="{{ url_for('index_html', page=page-1) }}">上一页</a></li>
                {% endif %}
                {% for p in range(1, total_pages + 1) %}
                    <li>
                        <a class="bg-gray-300 text-gray-800 px-4 py-2 {{ 'font-bold' if p == page }} hover:bg-gray-400"
                           href="{{ url_for('index_html', page=p) }}">{{ p }}</a>
                    </li>
                {% endfor %}
                {% if page < total_pages %}
                    <li><a class="bg-gray-300 text-gray-800 px-4 py-2 rounded-r hover:bg-gray-400"
                           href="{{ url_for('index_html', page=page+1) }}">下一页</a></li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <p class="text-center text-gray-800 mt-6">没有找到文章。</p>
    {% endif %}
</div>

<!-- Popular Voting Section -->
<section class="my-8">
    <h2 class="text-2xl font-bold mb-4 new-year-text">留言板</h2>
    <div class="bg-white p-4 rounded-lg shadow-lg">
        <p class="text-gray-600">你用来这里看什么？你有什么建议？</p>
        <a href="/guestbook" class="text-blue-500 hover:underline">了解更多</a>
    </div>
</section>

<!-- News Section -->
<section class="my-8">
    <h2 class="text-2xl font-bold mb-4 new-year-text">友情链接</h2>
    <article class="bg-white p-4 rounded-lg shadow-lg">
        <h3 class="font-semibold">去这里看看吧！</h3>
        <ul class="list-disc pl-5 mt-2">
            {% if friends_links %}
                {% for site_name, site_url in friends_links.items() %}
                    <li><a href="{{ site_url }}" class="text-blue-500 hover:underline">{{ site_name }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </article>
</section>

<!-- Footer -->
{% from 'footer.html' import SimpleFooter %}
{{ SimpleFooter(title,beian) }}
</body>

</html>